@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    color: #111;
    text-decoration: none;
}

.btn{
    padding: 10px 20px; /* top-bottom left-right */
    margin: 0 5px; /* top-bottom lef-right */
    font-size: 0.99rem;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #5d685a; /* default color */
    color: #fbfaf5;
    font-weight: 300;
}

.btn:hover{
    cursor: pointer; /* hand symbol */
}

/* body */
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: #5d685a; */
    background-color: #31312f;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    text-align: center;
}

/* container */
.container{
    width: 450px;
    padding: 50px; 20px; /* top-bottom left-right */
    background-color: #fbfaf5;
}

/* h1 */
h1{
    font-size: 1rem;
    color: #bb9362;
    margin-bottom: 20px;
    text-transform: uppercase; 
    font-weight: 500;
}

/* .joke-text */
.joke-text{
    font-size: 1.3rem;
    margin-bottom: 30px;
    font-weight: 300;
    color: #31312f;
    
}

/* .new-joke-btn */
.new-joke-btn{
}

.tweet-btn{
    /* background-color: #00ACEE; */
}